import React from "react";
import "./{{lowerCase componentName}}.scss";

const {{componentName}} = () => (
	<p className="{{lowerCase componentName}}-component">{{componentName}}</p>
);

export default {{componentName}};